#container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 1px solid var(--frame-border);
    background-color: var(--bg-dark);
}