.editor {
    width: 100%;
    height: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.editor > .menu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 40px;
}

.editor > .menu > button + button {
    margin-left: 0.4rem;
}

.textWrapper {
    width: 100%;
    flex-grow: 1;
    background-color: rgba(255,255,255,1);
    padding: 0.6rem;
    padding-right: 0;
    padding-bottom: 0;
    border-radius: 0 4px 4px 4px;
    border: 1px solid #fff;
    overflow: hidden;
}

#codeEditorText {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#codeEditorTextInput {
    width: 100%;
    height: 100%;
    letter-spacing: 0.1rem;
    color: #4b4b4b;
    white-space: nowrap;
}

#codeEditor > .menu > .subMenu {
    height: 100%;
    padding: 0.3rem 0;
}

#codeEditor > .menu > .subMenu > button {
    padding: 0 1rem;
    height: 100%;
    background-color: var(--bg-li-item);
    color: #fff;
    border-radius: 4px;
}

#codeEditor > .menu > .subMenu > button + button {
    margin-left: 0.4rem;
}

#codeEditor > .menu > .tabMenu {
    display: flex;
}

#codeEditor > .menu > .tabMenu > .editorTab {
    background-color: rgba(255,255,255,0.2);
    width: fit-content;
    height: 34px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    font-size: 0.8rem;
}
#codeEditor > .menu > .tabMenu > .editorTab > button.editorTabItem {
    width: 100px;
    padding: 0.4rem 1rem;
    height: 100%;
    color: #fff;
    border: none;
}

#codeEditor > .menu > .tabMenu > .editorTab > button.editorTabItem.active {
    background-color: rgba(255,255,255,1);
    font-weight: 600;
    color: #4b4b4b;
}

#codeEditor > .menu > .tabMenu > .optionMenu {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


#codeEditor > .menu > .tabMenu > .optionMenu > button {
    color: #fff;
}


#codeEditor > .menu > .tabMenu > .optionMenu > button + button {
    margin-left: 0.4rem;    
}