#codeEditorMain {
    width: 100%;
    height: 100%;
    display: flex;
}
.editor, .snb {
    height: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.editor {
    flex-grow: 1;
}

.snb {
    width: 30%;
}

.editor > .menu, .snb > .snbMenu {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 40px;
}

.textWrapper, .snbWrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
}

.snbWrapper {
    overflow: hidden;
    height: calc(100% - 104px);
}

.codeEditorText, .snbContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #4b4b4b;
    padding: 0.6rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,1);
    border-radius: 0 4px 4px 4px;
    border: 1px solid #fff;
    overflow: hidden;
}
.snbContent {
    border-radius: 0px;
    overflow: hidden;
}

.codeEditorText {
    padding-bottom: 0;
}

.codeEditorText.result {
    padding: 0.6rem;
}

#codeEditorTextInput {
    width: 100%;
    flex-grow: 1;
    letter-spacing: 1px;
    color: #4b4b4b;
    white-space: nowrap;
    resize: none;
    outline: none;
    border: none;
}

.lineInfo {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    border-top: 1px dotted #ccc;
}

#codeEditor > .menu > .tabMenu, .snb > .snbMenu > .snbTabMenu {
    display: flex;
}

.snb > .snbMenu > .snbTabMenu {
    width: 100%;
}

#codeEditor > .menu > .optionMenu > button {
    background-color: var(--bg-li-item);
    color: #fff;
    width: 50px;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    margin-bottom: 0.2rem;
}

#codeEditor > .menu > .optionMenu > button:disabled {
    background-color: #bbb;
    cursor: auto;
}

#codeEditor > .menu > .tabMenu > .editorTab, .snb > .snbMenu > .snbTabMenu > .snbTab {
    background-color: rgba(255,255,255,0.2);
    width: fit-content;
    height: 34px;
    border: 1px solid #fff;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    font-size: 0.8rem;
}
.snb > .snbMenu > .snbTabMenu > .snbTab {
    width: 100%;
    display: flex;
}
#codeEditor > .menu > .tabMenu > .editorTab > button.editorTabItem {
    width: 100px;
    padding: 0.4rem 1rem;
    height: 100%;
    color: #fff;
    border: none;
}
.snb > .snbMenu > .snbTabMenu > .snbTab > button.snbTabItem {
    flex-grow: 1;
    padding: 0.4rem 1rem;
    height: 100%;
    color: #fff;
    border: none;
}
.snb > .snbMenu > .snbTabMenu > .snbTab > button.snbTabItem + button.snbTabItem {
    border-left: 1px solid #fff;
}

#codeEditor > .menu > .tabMenu > .editorTab > button.editorTabItem.active, .snb > .snbMenu > .snbTabMenu > .snbTab > button.snbTabItem.active {
    background-color: rgba(255,255,255,1);
    font-weight: 600;
    color: #4b4b4b;
}

#codeEditor > .menu > .tabMenu > .optionMenu {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}


#codeEditor > .menu > .tabMenu > .optionMenu > button {
    color: #fff;
}


#codeEditor > .menu > .tabMenu > .optionMenu > button + button {
    margin-left: 0.4rem;    
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modalContent {
    width: 900px;
    height: 500px;
    color: #4b4b4b;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 0.6rem;
}

.modalHeader {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #ccc;
    padding: 0.6rem 0;
}

.modalHeader > .modalMenu > button {
    border: 1px solid var(--bg-li-item);
    padding: 4px 0.6rem;
    border-radius: 4px;
    color: var(--bg-li-item);
    font-size: 0.8rem;
}

.modalHeader > .modalMenu > button {
    height: 30px;
    background-color: var(--bg-li-item);
    color: #fff;
}

.modalHeader > .modalMenu > input[type="text"] {
    border: 1px solid var(--bg-li-item);
    border-radius: 4px 0 0 4px;
    border-right: none;
    height: 30px;
    margin-left: 0.4rem;
}
.modalHeader > .modalMenu > button.url {
    border-radius: 0 4px 4px 0;
}

.modalHeader > .modalSubmit > .close > img {
    background-color: var(--bg-li-item);
    width: auto;
    height: 28px;
    padding: 2px;
    border-radius: 4px;
}

.modalHeader > .modalSubmit > .copy > img {
    background-color: var(--bg-li-item);
    width: auto;
    height: 28px;
    padding: 3px;
    border-radius: 4px;
    margin-right: 0.4rem;
}

.modalBody {
    width: 100%;
    position: relative;
    flex-grow: 1;
    padding: 0.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadResult {
    width: 100%;
    height: 420px;
    overflow: auto;
    font-size: 0.8rem;
}

.loadResult .noData {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.snbSubmit {
    position: relative;
    width: 100%;
    height: 64px;
    background-color: #fff;
    color: var(--bg-li-item);
    background-color: var(--bg-li-item);
    color: #fff;
    font-size: 1rem;
    border-radius: 0 0 4px 4px;
    border: 1px solid #fff;
}

.snbSubmit:disabled {
    background-color: #bbb;
    cursor: auto;
}

.snbContent > div {
    width: 100%;
}

.snbApi, .snbLang {
    cursor: pointer;
}

.apiCheck {
    position: absolute;
    right: 10px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.apiItem.active, .langItem.active {
    color: #fff;
    background-color: var(--bg-li-item);
}

.snbLang {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.snbLang > .langTitle {
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.snbLang > .preset {
    width: 100%;
    height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: auto;
}
.snbTarget {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
}
.targenFindBtn {
    width: 100%;
    height: 50px;
    background-color: var(--bg-li-item);
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.targenFindBtn img {
    margin-bottom: -4px;
    margin-right: 2px;
}

.snbTarget > .targetList {
    border: 1px solid #efefef;
    border-radius: 4px;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.snbTarget > .targetList > .title {
    width: 100%;
    padding: 0.6rem;
    border-bottom: 1px solid #efefef;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.targetAllSelect{
    display: flex;
    gap: 4px;
}
.targetAllSelectBtn {
    font-size: 0.75rem;
    color: #fff;
    background-color: var(--bg-li-item);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 24px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.targetAllSelectBtn:disabled {
    background-color: #ccc;
    cursor: auto;
}

.snbTarget > .targetList > .list {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  repeat(auto-fill, 50px);;
    gap: 0.4rem;
    padding: 0.4rem;
    overflow-x: hidden;
    overflow-y: auto;
}
.snbTarget > .targetList > .list > .listItem {
    cursor: pointer;
    padding: 0 0.6rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.snbTarget > .targetList > .list > .listItem.active {
    background-color: var(--bg-li-item);
    color: #fff;
}

.listItemText {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 0.2rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}
.listItemLine {
    font-size: 0.7rem;
    width: 100%;
}

.listCheck {
    position: absolute;
    right: -6px;
    width: 50px;
    height: 50px;
    opacity: 1;   
}

.snbSubmit:disabled:hover .tooltip {
    display: block;
}

.tooltip {
    width: fit-content;
    white-space: nowrap;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0.8rem;
    transform: translate(0%, -100%);
}
.tooltipMsg {
    position: relative;
    background-color: var(--bg-li-item);
    height: 32px;
    padding: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.tooltipArrow {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;
    width: 9px;
    height: 9px;
    border-left: 6px solid transparent; /* 왼쪽 테두리는 투명 */
    border-right: 6px solid transparent; /* 오른쪽 테두리는 투명 */
    border-bottom: 0px solid transparent; /* 아래쪽 테두리는 색상 지정 */
    border-top: 9px solid var(--bg-li-item); /* 위쪽 테두리는 투명 */
}

.saveModalContent {
    width: 500px;
    background-color: #fff;
    border-radius: 4px;
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.saveModalContent > div {
    width: 100%;
}

.saveModalContent > div:nth-child(1) {
    height: 36px;
    display: flex;
    font-weight: 600;
}


.saveModalContent > div:nth-child(2) {
    border: 1px solid #ccc;
    height: 36px;
    display: flex;
    border-radius: 4px;
}

.saveModalContent > div:nth-child(2) > div {
    background-color: var(--bg-li-item);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    font-size: 0.8rem;
}

.saveModalContent > div:nth-child(2) > input {
    width: calc(100% - 70px);
    height: 100%;
    margin: 0;
}

.saveModalContent > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.4rem;
    padding: 0.6rem 0;
}

.saveModalContent > div > input {

}

.saveModalContent > div > button {
    width: 50px;
    height: 30px;
    border-radius: 4px;
}
.saveModalContent > div > button:nth-child(1) {
    background-color: var(--bg-li-item);
    color: #fff;
}

.saveModalContent > div > button:nth-child(2) {
    background-color: #dedede;   
}

#codeEditorNoData {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}